<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ClientAganceDeVoyage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>serv</display-name>
    <servlet-name>serv</servlet-name>
    <servlet-class>pac.serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv</servlet-name>
    <url-pattern>/serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servCircuit</display-name>
    <servlet-name>servCircuit</servlet-name>
    <servlet-class>pac.servCircuit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servCircuit</servlet-name>
    <url-pattern>/servCircuit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servClt</display-name>
    <servlet-name>servClt</servlet-name>
    <servlet-class>pac.servClt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servClt</servlet-name>
    <url-pattern>/servClt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>authentification</display-name>
    <servlet-name>authentification</servlet-name>
    <servlet-class>pac.authentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authentification</servlet-name>
    <url-pattern>/authentification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servCltI</display-name>
    <servlet-name>servCltI</servlet-name>
    <servlet-class>pac.servCltI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servCltI</servlet-name>
    <url-pattern>/servCltI</url-pattern>
  </servlet-mapping>
</web-app>